# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# APP_URL: The URL where this applet is hosted.
APP_URL=

# VASY_API_KEY: API key for VasyERP integration.
VASY_API_KEY="5d139061-9830-4436-807b-f419b9694d8c"

# JWT_SECRET: Secret for signing tokens
JWT_SECRET=your_secret_here
